
@inject BuildingFormsWithBlazor.Services.UserService userService

@if (unsavedChanges)
{
    <section class="card">
        <div class="card-body">

            You have changes to sync. Please click the below button to sync.

            <button class="btn btn-block btn-outline-primary" @onclick="SyncData">Sync</button>

        </div>

    </section>
}

@code {

    private bool unsavedChanges = false;



    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Sync Status - OnInitialized");
        unsavedChanges = await userService.HasUnSavedRecordsinIndexDB();
        Console.WriteLine(unsavedChanges);
        await base.OnInitializedAsync();
    }


    async  Task  SyncData()
    {

        Console.WriteLine("Syncing Data");

        await userService.SynchronizeAsync();

        unsavedChanges = await userService.HasUnSavedRecordsinIndexDB();


    }

}
